
ol li {
    background-color: yellow;
}

li:nth-child(even) {
    color: green
}

li:nth-child(odd) {
    text-transform: capitalize;
}

.HEADER {
     color: red;
}

.HEADERITALICO {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: 700;
}

#linguagens li:not(:nth-child(n + 4)) {
    color: blue;
  }
  .pink-bg {
    background-color: pink;
  }