/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }
  body {
	font-size: 20px;
	margin: 50px;
  }
  article {
  }
  h1 {
	font-size: 30px;
  }
  h2 {
  }
  img {
	  max-width: 100%;
	  margin: 30px;	
  }
  main {
  }
  section {
  }
  figure {
	  margin: 0;
  }
  figcaption {
	font-size: .8em;
  }

  @media screen and (min-width: 768px) {
	body {
		background-color: aqua;
		font-size: 22px;
		margin: 30px;
	}
	figure {
		width: 40%;
		display: inline-block;
	}
  }

  @media screen and (min-width: 992px) {
	body {
		background-color: pink;
		font-size: 18px;
		margin: 80px;
		max-width: 70%;
	}
	figure {
		width: 30%;
		margin: 10px;	
	}
  }